@inherits FilterComponent
@code{

    DateTime? value = null;

}


<div class="my-4">
    <div class="d-flex">
        <div @ref="DateFilter" class="@DateFilterClasses">
            <RadzenDatePicker @bind-Value=@value DateFormat="d" Change="EventCallback<DateTime?>.Empty" Placeholder="Выберите дату"/>
        </div>
        <div @ref="GameFilter" class="@GameFilterClasses">
            Игра
        </div>
        <div @ref="PeopleFilter" class="@PeopleFilterClasses">
            Люди        
        </div>
        <div @ref="PlaceFilter" class="@PlaceFilterClasses">
            Место
        </div>
    </div>
</div>