@using IdentityServer4.Extensions
@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}

<div class="nav-page">
    <nav class="navbar navbar-light mx-5 mt-2 bg-white">
        <a class="navbar-brand mr-auto" href="/">
            <img src="~/dice.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            Meet&Play
        </a>
        <div class="nav-item mx-4">
            <button class="btn border-0 btn-outline-dark"><i class="fas fa-map-marker-alt mr-2"></i>Екатеринбург</button>
        </div>

            @if (!string.IsNullOrWhiteSpace(name))
            {
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        @name
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-action="Logout" asp-controller="Account">Выйти</a>
                    </div>
                </div>
            }
            else
            {
                <div class="nav-item">
                    <a asp-action="Index" asp-controller="Register" class="nav-link">Регистрация</a>
                </div>
            }
    </nav>
</div>