@page "/"

<Promo/>
<div class="mt-4">
    <h3>
        Начните свой поиск прямо сейчас!
    </h3>
    <Search Placeholder="Во что вы хотите поиграть?"/>
    <Categories/>
    <div class="d-flex justify-content-center">
        <AddOfferButton/>
    </div>
    <h3>
            События в ближайшие дни
        </h3>
    <NewsBrowser/>
</div>
