@page "/"

<div class="mt-4">
    <h2>
        Начните свой поиск прямо сейчас!
    </h2>
    <Search Placeholder="Во что вы хотите поиграть?"/>
    <Categories/>
    <div class="d-flex justify-content-center">
        <AddOfferButton/>
    </div>
    <h2>
            События в ближайшие дни
        </h2>
    <NewsBrowser/>
</div>
