@page "/Profile"
@using MeetAndPlay.Core.Abstraction.Services
@attribute [Authorize]
@inject IUserAuthenticationService UserAuthenticationService

<h3>Привет, @UserAuthenticationService.GetCurrentUserName().</h3>
<div class="d-flex flex-row-reverse">
    <a class="btn btn-warning bg-lightyellow border-0" href="/Profile/Edit">Редактировать профиль</a>
</div>