@page "/Profile"
@using MeetAndPlay.Core.Abstraction.Services
@attribute [Authorize]
@inject IUserAuthenticationService UserAuthenticationService

<h3>Привет, @UserAuthenticationService.GetCurrentUserName().</h3>