@using MeetAndPlay.Data.Enums
@model IdentityServerHost.Quickstart.UI.Register.RegisterViewModel
<h2>Регистрация нового пользователя</h2>
<form method="post" asp-controller="Register" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="FirstName"></label><br/>
        <input asp-for="FirstName"/>
        <span asp-validation-for="FirstName"></span>
    </div>
    <div>
        <label asp-for="LastName"></label><br/>
        <input asp-for="LastName"/>
        <span asp-validation-for="LastName"></span>
    </div>
    <div>
        <label asp-for="UserName"></label><br/>
        <input asp-for="UserName"/>
        <span asp-validation-for="UserName"></span>
    </div>
    <div>
        <label asp-for="Email"></label><br/>
        <input asp-for="Email"/>
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br/>
        <input asp-for="Password"/>
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="PasswordConfirm"></label><br/>
        <input asp-for="PasswordConfirm"/>
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <div>
        <label asp-for="BirthDate"></label><br/>
        <input asp-for="BirthDate"/>
        <span asp-validation-for="BirthDate"></span>
    </div>
    <div>
        <label asp-for="Gender"></label><br/>
        <select asp-for="Gender" asp-items="@Html.GetEnumSelectList<Gender>()">
        </select>
        <span asp-validation-for="Gender"></span>
    </div>

    <div>
        <input type="submit" value="Регистрация"/>
    </div>
</form>