<nav class="navbar navbar-light mx-5 mt-2 bg-white">
    <a class="navbar-brand mr-auto" href="/">
        <img src="/images/dice.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        Meet&Play
    </a>
    <div class="nav-item mx-4">
        <button class="btn border-0 btn-outline-dark"><i class="fas fa-map-marker-alt mr-2"></i>Екатеринбург</button>
    </div>
    <div class="nav-item ml-4">
        <button class="btn btn-outline-dark">Вход</button>
    </div>
</nav>